body {
  background-color: #F0F8FF;
}

#appContainer {
	position: absolute;
    margin: auto;
	top: 100px;
    width: 100%;
	/*background-color:gray;*/
}

#app {
	position: relative;
    margin: auto;
    width: 300px;
	height: 300px;
	background-color: #e6f2ff;
	box-shadow: -1px 2px 15px -5px rgba(0,0,0,0.75);
}

#instructions {
    text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #0066CC;
	font-size: 0.9em;
}

#startButton {
	position: relative;
	margin: auto;
	width: 100px;
	height: 25px;
	background-color: #0066CC;
	border-radius: 4px;
}

#startButton > p {
	padding-top: 0.5em;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-size: 0.8em;
}

#startButton:active {
	background-color: #cc33ff;
	transition: all 0.75s;
	transform: scale(7);
}

.mazeBlock {
	position: relative;
	float: left;
	width: 20px;
	height: 20px;
	outline: 1px solid #b3d7ff;
	outline-offset: -1px;
}

.wall {
	background-color:blue;
	outline: 0px
}